.movie div span{
  font-weight: 500;
  margin-right: 10px;
}

.movie h6{
  font-weight: 500;
}

.movie-img{
  max-height: 450px;
  min-height: 450px;
  min-width:315px;

}

.movie {
  position: absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%,-50%)
}